<div class="view-container">
	<span style="font-size: 20px;">Power ({{rsstatpowertxt}})</span><br>
	<span>Each point in power increases damage by 1.</span>
	<div class="stats-menu btn-group">
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats(1,'power')">x1</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats(10,'power')">x10</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats(100,'power')">x100</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats(1000,'power')">x1k</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats('10%','power')">10%</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats('20%','power')">20%</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats('50%','power')">50%</div>
		<div class="btn btn-primary boxed multiplier-btn" data-ng-click="addStats('100%','power')">100%</div>
	</div>
</div>